<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- Короткий ключ-значение формат без секретов -->
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} level=%-5level trace=%X{traceId:-} logger=%logger{36} msg="%msg" %n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
